.trustedBy {
  background-color: #fafafa;
  height: 100px;
  display: flex;
  justify-content: center;

  .container {
    max-width: 760px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: 500;

    span {
      font-size: larger;
    }

    img {
      flex: 1;
      width: 100px;
      height: 2rem;
      object-fit: contain;
      filter: grayscale(100%) brightness(0%);
    }
  }
}
